<!DOCTYPE html>
<html>
  <head>
    <title>Monitor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
      </script>
      <script>
          // function remove(mapping){
          //   console.log('remove ' + mapping.className)
          // }
          function add(){
            var className = document.getElementById('className').value
            var methodName = document.getElementById('methodName').value
            console.log('add ' +className + ' ' + methodName)
            var pattern= new RegExp(/^[a-zA-Z_][\w_:]{0,50}$/);
            if (pattern.test(className) && pattern.test(methodName)){
              console.log('test pass');
              $.post('<%=host%>/api/upload',{className,methodName},(data,status)=>{
                console.log('post:'+data+' '+status)
                window.location.reload()
              })
            } else{
              alert('Wrong className or methodName')
            }
          }
          function remove(mapping){
            console.log('remove ' + mapping.className + ' ' + mapping.methodName + 'at ' +  + '<%=host%>/api/remove')
            $.post('<%=host%>/api/remove',mapping ,(data,status)=>{
              console.log('remove:'+data+' '+status)
              window.location.reload()
            })
          }
      </script>
  </head>
  <body>
    <h1>Monitor</h1>
    <h5><%= result.length%> methods to monitor</h5>
    <table border="0" class="mappingTable">
        <tr>
            <th>Mapping</th>
            <th class="edit">Edit</th>
        </tr>
        <% if (result.length == 0){ %>
            <tr><td class="empty">empty</td><td class="empty"></td></tr>
        <% }else{%>
            <% result.forEach(function (mapping) {%>
            <tr>
                <td>

                    <div class="row">
                        <h4 class="desc">Monitoring:</h4>
                        <h4 class="content"><%= mapping.className%></h4>
                        <h4 class="subscript">class</h4>
                        <h4 class="content"><%= mapping.methodName%></h4>
                        <h4 class="subscript">method</h4>
                    </div>
                    <div class="row">
                        <h4 class="desc">Detail:</h4>
                    </div>

                </td>
                <td class="edit">
                    <button class="remove" onclick="remove(<%=JSON.stringify(mapping)%>)">x</button>
                </td>
            </tr>
            <%})%>
        <%}%>

        <tr>
            <td>
                <div class="row">
                    <h4 class="desc">Add:</h4>
                    <input type="text" id="className" placeholder="class">
                    <input type="text" id="methodName" placeholder="method">
                </div>
                <div class="row">
                    <h4 class="desc">Detail:</h4>
                </div>
                <div class="row">
                    <h4 class="desc">Event code:</h4>
                    <input type="text" id="eventCode" placeholder="Event code">
                    <h4 class="desc">Show detail:</h4>
                    <input type="checkbox" id="eventCode">
                    <h4 class="desc">Mark:</h4>
                    <input type="text" id="mark" placeholder="Mark">
                </div>
                <div class="row">
                    <h4 class="desc">Filter:</h4>
                </div>
                <div class="row">
                    <div class="subRow">
                        <h4 class="desc">Item:</h4>
                        <h4 class="desc">Content:</h4>
                    </div>
                    <div class="subRow">
                        <h4 class="desc">Item:</h4>
                        <h4 class="desc">Content:</h4>
                    </div>
                </div>
            </td>
            <td>
                <button class="add" onclick="add()">+</button>
            </td>
        </tr>
    </table>
  </body>
</html>
